<!DOCTYPE html>
<% include ../partials/header %>



<div class="form-center">
  <h1>تشکر از راجستر کردن شما با ما</h1>

  <form action="/register" method="POST">
    <div class="form-group">

      <input class="form-control" type="text" name="username" placeholder="ایمیل">

    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="رمز عبور">
    </div>
    <div class="form-group">
      <input class="btn btn-success" type="submit" value="submit">
    </div>


  </form>


</div>
<% include ../partials/footer %>