<% include ./partials/header%>
<div class="container">


 <p>هدف از ایجاد این ویبسات ایجاد سهولت در عرصه خرید و فروش ملکیت بوده که فعلا به صورت امتحانی شروع به فعالیت نموره و در صورت تقاضا مایل به انکشاف خدماتش میباشد. </p>

<% include ./partials/footer %>
