<% include ./partials/header%>
<div class="container">
    <p>برای هرگونه معلومات لطفا به شماره 0702881376 به تماس شوید شما همچنان میتوانید ره ایمیل ادرس
        jalilhaidari53@gmail.com پیام دهید.</p>

    <%include ./partials/footer%>