<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
		<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	</head>
    <body>
       
       <div id="landing-header">
       	 <h1>welcome to Rahnama</h1>
       	 <a href="/rahnama/" class="btn btn-lg btn-success">Let find what you need!</a>

       </div>
       <ul class="slideshow">
       	
       	   <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>

       </ul>

    	


<%include ./partials/footer%>
