<% include ./partials/header%>
<div class="container"
<p>
هدف از این ویبسایت ارایه خدمات راهنمایی انلاین بوده که به منظور ایجاد سهولت برای شهروندان عزیز در سراسر کشور برای یافتن و فروختن مالکیت شان به وجود امده است.
تیم کاری وبسایت راهنما مسعولیت هیچگونه اختلاف و کشیدگی بین فروشنده و خریدار را نداشته و هرگونه قرار داد راجع به مالکیت و نحوه استفاده ازآن,مسعولیت درصورت هرگونه خساره به مالکیت درهنگام استفاده از آن و غیره باید در هنگام اخذ قرارداد فی مابین فروشنده و خریدار انعقاد گردد. 
</p>
<% include ./partials/footer %>