.jumbotron{
	margin-top: 20px;
}

.similar-items{
	margin-top: 20px;
}
.form-center
{
	width: 30%;
	margin:30px auto;
}
.caption-full
{
	padding: 10px;
}
.thumbnail img
{
	width: 100%;
}
.form-style
{
	margin:30px auto;
	width: 30%;
}
.delete-form
{
	display: inline;
}
.text-center
{
	padding: 5px;
}
.str
{
	display: block;
}
.delete-form
{
	display: inline;
}
.ind{
	margin-top: 15px;
}
.btn_pading
{
	margin-top: 5px;
}
.choose_image_div
{
	border: 1px solid gray;

}