<% include ../partials/header %>

<div class="container">

	    <header class="jumbotron ind  ">
	       <h1 >به راهنما خوش امدید</h1>
	       <div >
	         <a class="btn btn-primary btn-large"href="/campground/new">ثبت مالکیت جدید</a>

	       </div>
	 
	    </header>

	 <div class="row" >

			
	 <div>
</div>


<% include ../partials/footer %>