<% include ../partials/header %>



<div class="form-center">
<h3 style="pull-right">لطفا از لیست پایین یگ گزینه را انتخواب کرده ره و روی گزینه ای ادامه کلیک کنید.</h3>

  <form action="/rahnama/options" method="POST">
    <div class="form-group">
       
          
          
           <select name="propertyType" >
              <option value="home">ثبت خانه </option>
              <option value="car">ثبت موتر </option>
              <option value="shope">ثبت دوکان </option>
              <option value="office">ثبت دفتر  </option>
              <option value="bikegg">موتور </option>
            </select>
           
           
    </div>
           <div class="form-group">
               <input class="btn btn-success" type="submit" value="ادامه">
           </div> 
    
    


  </form>
  <div class="goback">
    <a href="/campground">برگشت</a>
  </div>


</div>
<% include ../partials/footer %>