<!DOCTYPE html>
<%include ../partials/header %>

	<div class="form-center">
	<h4>مشخصات موتر:</h4>

	  <form action="/cars/new" method="POST" enctype="multipart/form-data">
	    <div class="form-group">
	    
	        <input class="form-control" type="text" name="car[model]" placeholder="مودل"/>
	      
	    </div>
	    <div class="form-group">
	    
	        <input class="form-control" type="text" name="car[type]" placeholder="نوع موتر"/>
	      
	    </div>
	    
	    <!-- category of the property -->
	    <div class="form-group">
	    
	        <input list="handـlist" class="form-control" type="text" name="car[hand]" placeholder="موتر دست"/>
	        <datalist id="handـlist">
	        	<option value="اول">
	        	<option value="دوم">
	        	<option value="سوم">
	        	
	        </datalist>
	    </div>
	   <div class="form-group">
	    
	        <input list="steering_handـlist" class="form-control" type="text" name="car[steering_hand]" placeholder="دست شترینگ"/>
	        <datalist id="Steering_handـlist">
	        	<option value="چپ">
	        	<option value="راست">
	        	
	        </datalist>
	    </div>
	     <div class="form-group">  
	        <input class="form-control" type="number"
	            name="car[price]" placeholder="قیمت"/>  
	    </div>
	     <div class="form-group">  
	        <input class="form-control" type="text"
	            name="car[plate]" placeholder="پلیت"/>  
	    </div>
	    <div class="form-group">  
	        <input class="form-control" type="number"
	            name="car[ph_num]" placeholder="نمبر تماس"/>  
	    </div>
	     <div class="form-group">  
	        <input class="form-control" type="text"
	            name="car[info]" placeholder="بقیه معلومات"/>  
	    </div>
	    
	    
	    <div class="choose_image_div">
		    <label for="files" class="btn">انتخاب عکس</label>
		    <input id="files" name="images"style="visibility:hidden;" type="file" accept="image/x-png,image/gif,image/jpeg"multiple>
		    <small>لطفا سه عکس انتخاب کنید </small>
		</div>
	    <div class="form-group">
	        <input class="btn btn-success btn_pading" type="submit" value="ادامه"/>
	    </div>


	  </form>
	  <div class="go back">
	    <a href="/cars">Go back</a>
	  </div>


	</div>


<%include ../partials/footer%> 